.note {
    background-color: rgb(240, 231, 48);
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit , 250px);
}

.note.new {
    background-color: rgb(29, 185, 252);
}

textarea {
    border: none;
    resize: none;
    background-color: rgb(29, 185, 252);

}

textarea:focus{
    outline: none;
}

.save {
    background-color: rgb(249, 203, 225);
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px ;
}

.save:hover{
    background-color: beige;
    cursor: pointer;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgba(234, 234, 234, 0.776);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}

.search  input {
    border: none;
    background-color: rgba(234, 234, 234, 0.776);
}

.search input:focus {
    outline: none;
}