.note {
    background-color: rgb(240, 231, 48);
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit , 250px);
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}